/* it's not the cleanest and most organised CSS */
/* rather a mix of opiniated and atomic classes */
* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  color: #252525;
}

.wrapper-box:before {
  content: '';
  height: 4px;
  width: 100%;
  background-color: #1976d2;
  position: absolute;
  top: -13px;
  left: 0;
}

.wrapper-box {
  margin: 50px auto 0;
  min-width: 600px;
  max-width: 760px;
  height: 300px;
  padding: 20px;
  position: relative;
  border: 1px solid #c5c5c5;
  background-color: #f5f5f5;
  border-radius: 0 0 10px 10px;
}

.flex {
  display: flex;
}

.fg-1 > * {
  flex-grow: 1;
}

.flex-justify-content-center {
  justify-content: center;
}

.flex-align-items-center {
  align-items: center;
}

.widget-settings,
.widget-preview {
  width: 285px;
  height: 200px;
}

.widget-preview {
  background-color: white;
}

.input-title {
  padding: 5px 14px;
  border: 1px solid #c5c5c5;
  border-radius: 3px;
  font-size: 16px;
  width: 100%;
}

.input-radio {
  margin-right: 10px;
}

.pa-1 {
  padding: 4px;
}

.pa-5 {
  padding: 20px;
}

.py-2 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.pb-2 {
  padding-bottom: 8px;
}

.mt-2 {
  margin-top: 8px;
}

.mb-5 {
  margin-bottom: 20px;
}

.ml-2 {
  margin-left: 8px;
}

.ma-3 {
  margin: 12px;
}

/* Personally I don't use !important at all costs */
/* These are some classes copied from vuetify library */
.display-1 {
  font-size: 34px !important;
  font-weight: 400;
  line-height: 40px !important;
  letter-spacing: normal !important;
  font-family: 'Roboto', sans-serif !important;
}

.title {
  font-size: 20px !important;
  font-weight: 500;
  line-height: 1 !important;
  letter-spacing: 0.02em !important;
  font-family: 'Roboto', sans-serif !important;
}

.subheading {
  font-size: 16px !important;
  font-weight: 400;
}

.body-1 {
  font-size: 14px !important;
  font-weight: 400;
}

.caption {
  font-size: 12px !important;
  font-weight: 400;
}

.font-weight-bold {
  font-weight: 700 !important;
}

.text-uppercase {
  text-transform: uppercase !important;
}

.vertical-line {
  border-left: 1pt solid #c5c5c5;
  align-self: center;
  height: 60%;
}

.box-shadow-5 {
  box-shadow: 0 5px 10px #c5c5c5;
}

.br-1 {
  border-radius: 4px;
}

.d-block {
  display: block;
}
